<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="WinApi.Properties.Settings.DemoConnectionString" connectionString="Data Source=XPS-VISH-DESK;Initial Catalog=Demo;User ID=sa;Password=P@ssw0rd"
   providerName="System.Data.SqlClient" />-->
    <!--<add name="WinApi.Properties.Settings.DemoConnectionString" connectionString="Data Source=.;Initial Catalog=Demo;User ID=sa;Password=sa123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="OwnerId" value="f60b6a57-ffea-4db8-92cb-55fa274f066f"/>-->
    <add key="cabinetmatchedrulesequals" value="62bc7efe1f97c99ba30b584e,62bbd551b70e41855d336af3" />
    <add key="AuthToken" value="S0ZOQkBBS1xIAVpcAV9AXVtOQwFMQ0BaS05fX1xKTFpdRltWAUxAQlNKFxYWSRkfTUpNHkoaGBxLTEpJGEkZThYYHRdMHEocS04XSx8aFxhJGxoZHU0WHUoYSR8eGBsYFhlOGR0dGhgf" />
    <add key="ida:ClientId" value="cb04699e-714c-4d6d-8f0f-d292eaf6eb2a" />
    <add key="ida:RedirectUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient" />
    <add key="ida:CertThumbprint" value="YOUR CERT THUMBPRINT" />
    <add key="ida:ClientSecret" value="MVv8Q~4epi.pUg~blCQQ~E--XHCpLO4j834Xna5t" />
    <!-- change this flag to true if you're doing certificate based auth. False if using client secret. -->
    <add key="ida:DoCertAuth" value="false" />
    <!-- Tenant name in format of Contoso.com or contoso.onmicrosot.com -->
    <add key="ida:Tenant" value="701714f2-27b9-49b1-a33e-31f6d821e5c1" />
    <!-- Your app name. This name will appear in AIP Analytics logs -->
    <add key="app:Name" value="MIP SDK Service Principal Auth Test App" />
    <!-- Your app version. This will appear in AIP Analytics logs -->
    <add key="app:Version" value="1.11.0" />
	<!--Set the API Endpoint to Graph 'me' endpoint-->
	<add key="graphAPIEndpoint" value="https://graph.microsoft.com/v1.0/me" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.22.0.0" newVersion="6.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>